$icon-font-path: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/" !default;
// Include Bootstrap styles
//@import "~bootstrap-sass/assets/stylesheets/_bootstrap";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.css";

body {
   margin: 0;
   background: #F2F2F2;
   height: 100vh;
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url(https://www.theartcenter.nyc/images/tac-top-shapes.svg);
}

.page-container {
    display: grid;
    grid-template-columns: 60px auto;
    height: 100%;
    padding: 0px;
  
    .side-bar {
      background: #252223;
  
      .nav-link {
        color: #FFF;
        font-size: 28px;
      }
    }
  
    .content-container {
      margin-top: 30px;
    }
  }
